<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator">
        <activity
            android:name=".Unit_Converter_Light"
            android:exported="false"
            android:parentActivityName=".MainActivity_Light"/>
        <activity
            android:name=".Graph_Light"
            android:exported="false"
            android:parentActivityName=".MainActivity_Light" />
        <activity
            android:name=".Unit_Converter"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity_Light"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PlottingGraph"
            android:exported="false"
            android:parentActivityName=".Graph" />
        <activity
            android:name=".Graph"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>